<h2>List of Fournisseurs</h2>

<div *ngFor="let fournisseur of fournisseurs">
  <div *ngIf="fournisseur.idFournisseur != undefined && fournisseur.idFournisseur <= 100">
    <fieldset [style.background-color]="fournisseur.libelle === 'hp' ? 'green' : 'yellow'" (dblclick)="suppFournisseur(fournisseur)">
      <legend>idFournisseur: {{ fournisseur.idFournisseur }}</legend>
      <div class="info" *ngIf="fournisseur.code != undefined"> 
        <p [style.font-weight]="fournisseur.code.startsWith('2A') ? 'bold' : 'normal'">Code: {{ fournisseur.code }}</p>
        <p>Libelle: {{ fournisseur.libelle }}</p>
      </div>
    </fieldset>
  </div>
</div>
